# KickStarter

In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Read both the csv files
df_2016 = pd.read_csv("kickstarter-projects/ks-projects-201612.csv", encoding="ISO-8859-1")
df_2018 = pd.read_csv("kickstarter-projects/ks-projects-201801.csv", encoding="ISO-8859-1")

/Users/bhavinivyas/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
# Convert 2016 csv file to pandas daataframe.
df_2016.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09 11:36:00,1000,2015-08-11 12:12:28,0,failed,0,GB,0,NaN,NaN,NaN,NaN
1,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26 00:20:50,45000,2013-01-12 00:20:50,220,failed,3,US,220,NaN,NaN,NaN,NaN
2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16 04:24:11,5000,2012-03-17 03:24:11,1,failed,1,US,1,NaN,NaN,NaN,NaN
3,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29 01:00:00,19500,2015-07-04 08:35:03,1283,canceled,14,US,1283,NaN,NaN,NaN,NaN
4,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01 13:38:27,50000,2016-02-26 13:38:27,52375,successful,224,US,52375,NaN,NaN,NaN,NaN

In [4]:
# Convert 2018 csv file to pandas dataframe
df_2018.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00

In [5]:
# Count rows to see if there is any null value in any column.
print(df_2018.count())

ID                  378661
name                378657
category            378661
main_category       378661
currency            378661
deadline            378661
goal                378661
launched            378661
pledged             378661
state               378661
backers             378661
country             378661
usd pledged         374864
usd_pledged_real    378661
usd_goal_real       378661
dtype: int64

In [6]:
# Count rows to see if there is any null value in any column.
df_2016.count()

ID                323750
name              323746
category          323745
main_category     323750
currency          323750
deadline          323750
goal              323750
launched          323750
pledged           323750
state             323750
backers           323750
country           323750
usd pledged       319960
Unnamed: 13          625
Unnamed: 14           12
Unnamed: 15            4
Unnamed: 16            1
dtype: int64

In [7]:
# Compare both the file to see number of rows and columns
print(df_2016.shape)
print(df_2018.shape)

(323750, 17)
(378661, 15)

In [8]:
# Look at the type of each column
df_2018.dtypes

ID                    int64
name                 object
category             object
main_category        object
currency             object
deadline             object
goal                float64
launched             object
pledged             float64
state                object
backers               int64
country              object
usd pledged         float64
usd_pledged_real    float64
usd_goal_real       float64
dtype: object

In [9]:
# Look at the type of each column
df_2016.dtypes

ID                  int64
name               object
category           object
main_category      object
currency           object
deadline           object
goal               object
launched           object
pledged            object
state              object
backers            object
country            object
usd pledged        object
Unnamed: 13        object
Unnamed: 14        object
Unnamed: 15        object
Unnamed: 16       float64
dtype: object

**Sort Both dataframes "deadline" column and see if both are same or not**

In [10]:
# Convert "deadline column to datetime"
df_2018["deadline"] = pd.to_datetime(df_2018["deadline"])

In [11]:
# sort date in deadline column
df_2018["deadline"].sort_values().head()

138572   2009-05-03
213711   2009-05-16
342226   2009-05-16
28960    2009-05-20
196244   2009-05-22
Name: deadline, dtype: datetime64[ns]

In [12]:
# dataframe df_2016 "deadline" column was not accessible, so check the column name. 
df_2016.columns

Index(['ID ', 'name ', 'category ', 'main_category ', 'currency ', 'deadline ',
       'goal ', 'launched ', 'pledged ', 'state ', 'backers ', 'country ',
       'usd pledged ', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16'],
      dtype='object')

In [13]:
# And it is seen that "dealine" column name contains extra space at the end. so remove the space.
df_2016.columns = [s.replace(" ", "") for s in df_2016.columns]

In [14]:
df_2016.columns

Index(['ID', 'name', 'category', 'main_category', 'currency', 'deadline',
       'goal', 'launched', 'pledged', 'state', 'backers', 'country',
       'usdpledged', 'Unnamed:13', 'Unnamed:14', 'Unnamed:15', 'Unnamed:16'],
      dtype='object')

In [15]:
# Also "deadline column contains some extra text fields like "USD", "GBP" (instead of date).
df_2016["deadline"].value_counts().head()

USD                    508
GBP                     64
2012-01-01 05:59:00     47
2015-01-01 05:59:00     41
2014-11-01 04:59:00     38
Name: deadline, dtype: int64

In [16]:
d = df_2016[df_2016['deadline'] == 'USD']

In [18]:
# looks like column values have been misplaced at some point in df_2016
d

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usdpledged,Unnamed:13,Unnamed:14,Unnamed:15,Unnamed:16
1563,1009317190,French Cuisine,A Traditional Experience,Cookbooks,Food,USD,2014-09-08 00:46:23,13730,2014-08-09 03:16:02,3984,failed,46,US,3984,NaN,NaN,NaN
1794,1010871699,The Beginners Guide to being Unsuicidal,the one act,Theater,Theater,USD,2011-12-31 23:25:46,5000,2011-11-21 23:25:46,525,failed,10,US,525,NaN,NaN,NaN
1931,1011687764,Best OnLine Classifieds,Ever / No More Spam,Web,Technology,USD,2014-09-20 19:56:10,6300,2014-08-21 19:56:10,0,failed,0,US,0,NaN,NaN,NaN
2420,101453314,Social Media Ruined My Life,A Short Film from Adam S Curtis,Shorts,Film & Video,USD,2013-03-14 20:11:57,3000,2013-02-25 21:11:57,3035,successful,42,US,3035,NaN,NaN,NaN
4850,1028998661,The Easyhook Driver Bit,Cuphook Installation Made Easy,Hardware,Technology,USD,2014-09-28 02:22:52,25000,2014-07-30 02:22:52,590,failed,35,US,590,NaN,NaN,NaN
4871,102911383,AVES: Bicycle playing cards,Fine Art deck inspired by Birds,Playing Cards,Games,USD,2014-10-07 18:00:29,10000,2014-09-01 18:00:29,23924,successful,780,US,23924,NaN,NaN,NaN
5049,1030235554,Love's in Need Of Love,Now.,World Music,Music,USD,2013-03-13 00:00:00,12000,2013-02-08 23:58:25,12306,successful,122,US,12306,NaN,NaN,NaN
5813,1034539612,Batman Dead End,A Ten Year Retrospective,Film & Video,Film & Video,USD,2013-03-28 15:03:32,12500,2013-02-26 16:03:32,13675,successful,213,US,13675,NaN,NaN,NaN
7003,1041248261,KittyHawk,3 GoPro cameras 1 UAV ultimate quadcopter drone,Camera Equipment,Technology,USD,2015-08-10 10:52:33,75000,2015-07-10 10:52:33,4690,canceled,3,US,4690,NaN,NaN,NaN
7639,1044922583,Lyrical Strings Duo,A Violin and Classical Guitar Album,Classical Music,Music,USD,2012-02-04 23:14:13,2500,2012-01-05 23:14:13,4488.01,successful,126,US,4488.01,NaN,NaN,NaN
7837,1046161804,Cthulhu Gold & Silver Ingots,From the Ruins of Innsmouth,Conceptual Art,Art,USD,2014-08-20 00:31:16,20000,2014-07-21 00:31:16,687,failed,10,US,687,NaN,NaN,NaN
9998,1058376015,Finding Normalcy and Love,After War,Nonfiction,Publishing,USD,2012-03-07 02:57:35,20000,2012-02-06 02:57:35,450,failed,3,US,450,NaN,NaN,NaN
10158,1059393119,Iris Bowl: Precision Machined Aluminum,Working Aperture,Product Design,Design,USD,2016-07-22 20:45:12,10000,2016-06-21 20:45:12,16185,successful,73,US,11719,NaN,NaN,NaN
11326,10661684,The Ames Project,Silhouette Children: A Documentary Film,Documentary,Film & Video,USD,2012-07-27 00:54:04,6000,2012-06-27 00:54:04,1495,failed,19,US,1495,NaN,NaN,NaN
12061,1070559418,'Misconception',the almost completed short film.,Shorts,Film & Video,USD,2010-07-16 01:00:00,1500,2010-06-16 02:26:07,20,failed,1,US,20,NaN,NaN,NaN
12149,1071067313,LEWD,an erotic text adventure,Video Games,Games,USD,2013-06-03 01:09:51,15000,2013-05-03 01:09:51,14309.36,failed,142,US,14309.36,NaN,NaN,NaN
13968,1082145521,Stepping Toward the Lion,a documentary project,Documentary,Film & Video,USD,2013-01-01 22:59:06,8000,2012-12-02 22:59:06,8542,successful,140,US,8542,NaN,NaN,NaN
14446,108507930,Shade Tree Brewing Company,Join Our Brewery in the Shade,Food,Food,USD,2012-02-03 18:19:09,15000,2011-12-05 18:19:09,3363,failed,38,US,3363,NaN,NaN,NaN
14640,1086338488,Introducing Daniel Criss,Debut vocal album.,Country & Folk,Music,USD,2012-06-08 14:42:49,4400,2012-05-09 14:42:49,950,failed,24,US,950,NaN,NaN,NaN
15017,108863281,Portals to Another World,An Artitst's Residency,Mixed Media,Art,USD,2012-06-20 17:18:00,1700,2012-05-18 17:18:00,1800.5,successful,60,US,1800.5,NaN,NaN,NaN
15288,1090187010,The Last Stand,a 30 page one shot action comic book,Comic Books,Comics,USD,2014-12-17 14:32:18,2000,2014-11-17 14:32:18,352,failed,37,US,352,NaN,NaN,NaN
15872,1093662806,M-PAKS,the backpack that does more than just carry s...,Product Design,Design,USD,2016-12-18 00:18:44,35000,2016-11-18 00:18:44,1320,canceled,10,US,1320,NaN,NaN,NaN
15945,1094089138,Bea Arthur's bust,a mosaic re-creation using McDonalds cups,Art,Art,USD,2015-07-11 05:24:29,13,2015-06-11 05:24:29,18,successful,3,US,18,NaN,NaN,NaN
16081,1094752040,GoTo Garden: home gardeners grow it,neighbors buy it,Food,Food,USD,2012-06-30 01:21:08,10000,2012-05-31 01:21:08,2161,failed,29,US,2161,NaN,NaN,NaN
17177,1101406194,Healing Arte,One CD at a time...,Classical Music,Music,USD,2015-07-12 17:13:00,2000,2015-06-13 05:00:51,331,failed,10,US,331,NaN,NaN,NaN
17710,1104693057,Two Cities,One Rivalry,Places,Photography,USD,2015-04-16 20:04:20,50,2015-03-07 20:04:20,0,failed,0,US,0,NaN,NaN,NaN
18084,1106734072,Jamaican Style Rum Cake (4-5 lb,Serves 8-10 Persons),Events,Food,USD,2016-12-02 21:17:12,30000,2016-11-18 21:17:12,1,failed,1,US,0,NaN,NaN,NaN
18490,1109234649,The Adventures of CT,The Children's Books for Adults,Fiction,Publishing,USD,2012-12-15 15:20:14,7000,2012-11-15 15:20:14,0,failed,0,US,0,NaN,NaN,NaN
18650,1109999886,Filmmaking Gear Stolen,Help a Struggling Artist!,Film & Video,Film & Video,USD,2010-01-02 20:24:00,2500,2009-11-24 21:37:45,2630,successful,19,US,2630,NaN,NaN,NaN
20108,1118861846,Project 13,The Super-Powered Arena Tabletop Game (Canceled),Tabletop Games,Games,USD,2014-05-18 03:26:28,4000,2014-04-18 03:26:28,3711,canceled,23,US,3711,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306802,898132486,Starfall Nova Tactics,Free-2-Play Multiplayer Strategy Game,Video Games,Games,USD,2011-09-15 08:28:48,30000,2011-08-16 08:28:48,160,failed,3,US,160,NaN,NaN,NaN
307914,904800959,TAO - work out while playing games,work out anywhere!,Hardware,Technology,USD,2014-04-17 15:08:29,100000,2014-03-18 14:08:29,111307.22,successful,229,US,111307.22,NaN,NaN,NaN
308453,908306188,Nora and Lucy,Horribly Heartbroken at Hogwarts,Comics,Comics,USD,2011-01-09 00:26:52,2500,2010-10-11 00:26:52,7326.46,successful,338,US,7326.46,NaN,NaN,NaN
308942,911361739,Kni++,scarves that illuminate.,Fashion,Fashion,USD,2011-05-21 05:59:22,5000,2011-04-21 05:59:22,5661,successful,50,US,5661,NaN,NaN,NaN
310072,917983232,Shaun Murphy,Let's Talk About Love,Rock,Music,USD,2012-09-01 04:59:00,10000,2012-07-20 21:03:22,11044,successful,81,US,11044,NaN,NaN,NaN
311546,926604832,Affect: Infuse Your Drink,Inspire the Night,Food,Food,USD,2014-03-10 19:11:40,42500,2014-02-08 20:11:40,2867,failed,25,US,2867,NaN,NaN,NaN
312084,929880656,Nekter Apparel,Help us revolutionize the hoodie industry,Apparel,Fashion,USD,2016-02-20 21:08:22,10000,2016-01-21 21:08:22,0,failed,0,US,0,NaN,NaN,NaN
312154,930244233,Seated Beside The Wolf,Philosophical Fiction,Fiction,Publishing,USD,2011-09-19 13:10:23,9850,2011-07-21 13:10:23,40,failed,1,US,40,NaN,NaN,NaN
312179,930337808,The Unbroken Line,A Film In Memoriam,Narrative Film,Film & Video,USD,2013-08-18 01:00:00,1000,2013-07-17 01:53:16,1100,successful,12,US,1100,NaN,NaN,NaN
314168,942417221,Funny Time,Sleepy Time,Classical Music,Music,USD,2015-05-14 21:01:16,15000,2015-04-14 21:01:16,1520,failed,29,US,1520,NaN,NaN,NaN
314229,942697158,Grandpa Rock & Roll Fred Lee,with The Bangor Boys play home,Rock,Music,USD,2013-05-10 20:45:55,500000,2013-04-10 20:45:55,0,failed,0,US,0,NaN,NaN,NaN
314689,94521031,Let It Fly,A fictional short film about Intolerance,Shorts,Film & Video,USD,2011-01-14 02:35:17,10000,2010-12-15 02:35:17,50,failed,1,US,50,NaN,NaN,NaN
314790,94573368,Child of Time,a novel,Fiction,Publishing,USD,2015-01-17 16:01:40,5000,2014-12-18 16:01:40,0,failed,0,US,0,NaN,NaN,NaN
314929,946554330,A Mental Health Initiative - Trauma,Release Healing Purpose,Nonfiction,Publishing,USD,2016-01-05 17:01:00,10000,2015-12-11 18:15:58,0,failed,0,US,0,NaN,NaN,NaN
315045,947343342,Korea's changes over 60 years,a photo journey through time.,Photography,Photography,USD,2012-06-07 19:19:27,38000,2012-05-08 19:19:27,135,failed,3,US,135,NaN,NaN,NaN
315259,948525980,Oceanus -,A game like no other.,Video Games,Games,USD,2014-02-23 04:55:18,40000,2014-01-24 04:55:18,20,failed,8,US,20,NaN,NaN,NaN
315385,949216748,Kerrin's first album,'Take Me Away' ... Become a part of Team Kerrin!,Music,Music,USD,2010-05-12 22:15:00,2000,2010-04-13 00:10:26,2026,successful,40,US,2026,NaN,NaN,NaN
315977,952768436,THIS HAS BEEN MY DREAM FOR LIFE,HELP ME ACCOMPLISH IT!!,Hip-Hop,Music,USD,2015-11-15 04:12:22,750,2015-10-16 04:12:22,0,canceled,0,US,0,NaN,NaN,NaN
316094,953402698,A Hot Piece of Glass,Glassblowing Project!! (Canceled),Sculpture,Art,USD,2014-01-02 22:20:00,5000,2013-11-20 01:50:01,290,canceled,3,US,290,NaN,NaN,NaN
316564,956497576,ECLIPSE 2-seat orbital spacecraft,first step: simulator,Space Exploration,Technology,USD,2014-11-27 21:31:54,13000,2014-10-29 20:31:54,1577,failed,24,US,1577,NaN,NaN,NaN
316702,957338579,,Help save the honeybees: Provide funding to ad...,Food,Food,USD,2012-01-08 05:14:50,1875,2011-11-09 05:14:50,545,failed,13,US,545,NaN,NaN,NaN
317015,959304168,SKETCH,The Artistry Of Taryn Lee Libby,Mixed Media,Art,USD,2015-03-07 23:19:26,1000,2015-01-06 23:19:26,2356,successful,57,US,2356,NaN,NaN,NaN
319355,97337924,Norah Rendell: Traditional Songs from Canada,a solo album,Country & Folk,Music,USD,2014-12-04 16:16:40,8500,2014-10-30 15:16:40,11050,successful,176,US,11050,NaN,NaN,NaN
319816,976306688,Building poverty stricken communities,BRICK by BRICK!,Fashion,Fashion,USD,2014-12-12 19:08:17,3210,2014-11-12 19:08:17,0,failed,0,US,0,NaN,NaN,NaN
320631,981100791,A Vodcast on Green Tech and Society,The Trip for Life,Journalism,Journalism,USD,2011-03-02 15:07:22,3000,2011-01-31 15:07:22,160,failed,3,US,160,NaN,NaN,NaN
321033,983555190,Successful inner-city band program,defying the odds,Kids,Music,USD,2014-10-03 22:26:04,170000,2014-08-29 22:26:04,7281.1,failed,91,US,7281.1,NaN,NaN,NaN
321945,989007729,THROUGH MY EYES,MY LIFE IN THE MISSISSIPPI DELTA,Narrative Film,Film & Video,USD,2012-04-05 02:34:49,3500,2012-03-06 02:34:49,10,failed,1,US,10,NaN,NaN,NaN
322162,990511774,Daniel Hresko's new CD is (almost) ready,so get on board!,Indie Rock,Music,USD,2011-09-06 05:59:00,400,2011-08-06 15:36:39,61,failed,4,US,61,NaN,NaN,NaN
322204,990746749,Feet on the Ground,Head in the Clouds,Film & Video,Film & Video,USD,2013-04-17 16:00:31,35000,2013-03-18 15:00:31,179,failed,10,US,179,NaN,NaN,NaN
323495,99851211,Art/sustainability/spirituality,a bike quest in New Zealand,Photography,Photography,USD,2013-03-05 21:00:00,2500,2013-02-05 08:09:32,2634,successful,34,US,2634,NaN,NaN,NaN

In [19]:
# remove unneccessary rows which contains text like 'USD', 'GBP' in deadline
clean_df_2016 = df_2016[(df_2016['deadline'] != 'USD') & (df_2016['deadline'] != 'GBP') & (df_2016['deadline'] != 'SEK')]
# df_2016.drop(df_2016.loc[df_2016['deadline']==0].index, inplace=True)

In [20]:
clean_df_2016["deadline"].value_counts()

2012-01-01 05:59:00    47
2015-01-01 05:59:00    41
2014-11-01 04:59:00    38
2012-03-01 05:59:00    33
2016-01-01 05:59:00    31
2012-02-01 05:59:00    30
2010-09-01 05:59:00    30
2014-09-01 05:59:00    30
2015-03-01 05:59:00    29
2012-06-01 05:59:00    29
2012-11-01 04:59:00    29
2016-04-01 05:59:00    29
2010-08-01 05:59:00    29
2015-04-01 05:59:00    28
2013-01-01 05:59:00    27
2011-01-01 05:59:00    26
2012-04-01 05:59:00    26
2013-02-01 05:59:00    26
2015-11-01 04:59:00    25
2015-05-01 05:59:00    25
2014-01-01 05:59:00    24
2015-07-01 05:59:00    24
2016-11-01 04:59:00    24
2014-12-01 05:59:00    24
2013-03-01 05:59:00    24
2014-10-01 05:59:00    23
2015-01-01 08:59:00    23
2012-09-01 05:59:00    23
2011-08-01 05:59:00    22
2012-12-01 05:59:00    22
                       ..
2015-06-28 20:35:03     1
2015-10-31 13:59:47     1
2014-01-08 06:13:22     1
2015-07-16 09:56:00     1
2016-02-16 20:23:03     1
2013-05-25 01:16:57     1
2015-11-12 11:17:28     1
2015-02-21 22:57:20     1
2014-07-15 15:26:39     1
2015-05-27 17:49:54     1
2015-03-09 22:24:27     1
2013-05-26 13:04:36     1
2012-04-07 05:00:49     1
2014-04-30 06:57:03     1
2015-06-04 09:00:00     1
2014-06-06 18:17:32     1
2016-06-14 18:46:11     1
2012-08-10 18:31:32     1
2015-04-20 19:58:48     1
2013-03-09 13:45:31     1
2012-10-18 21:35:51     1
2014-08-29 06:07:20     1
2009-09-01 21:00:00     1
2015-04-15 00:47:59     1
2014-01-30 08:34:16     1
2014-03-05 21:39:04     1
2011-02-06 20:18:45     1
2012-06-10 02:06:56     1
2012-08-20 11:51:35     1
2015-08-22 20:08:56     1
Name: deadline, Length: 294810, dtype: int64

In [23]:
# clean_df_2016.apply(lambda x: pd.to_numeric(x, errors='coerce')).dropna()
# clean_df_2016[clean_df_2016["deadline"]] = clean_df_2016[clean_df_2016["deadline"]].apply(pd.to_datetime, errors='coerce').dropna()

In [24]:
df_2016['deadline'].sort_values().head()

269970               Esoteric
118552    2009-05-03 08:59:59
292628    2009-05-16 01:10:00
182855    2009-05-16 11:59:00
24856     2009-05-20 21:50:00
Name: deadline, dtype: object

#### Differences between 2016 and 2018 csv file (should we consider both or one. if one then which one):
- the 2018 file is an extension of the 2016 file
    - 2018 file has about 55,000 more entries
- 2016 file has an extra two columns, but these are mostly null values so we would drop these columns anyway

Final conclusion is that we should just use the 2018 dataset for the analysis of Kickstarter Projects, just because it is essentially a more substantial dataset