# KickStarter

In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Read both the csv files
df_2016 = pd.read_csv("kickstarter-projects/ks-projects-201612.csv", encoding="ISO-8859-1")
df_2018 = pd.read_csv("kickstarter-projects/ks-projects-201801.csv", encoding="ISO-8859-1")

/Users/bhavinivyas/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
# Convert 2016 csv file to pandas daataframe.
df_2016.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09 11:36:00,1000,2015-08-11 12:12:28,0,failed,0,GB,0,NaN,NaN,NaN,NaN
1,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26 00:20:50,45000,2013-01-12 00:20:50,220,failed,3,US,220,NaN,NaN,NaN,NaN
2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16 04:24:11,5000,2012-03-17 03:24:11,1,failed,1,US,1,NaN,NaN,NaN,NaN
3,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29 01:00:00,19500,2015-07-04 08:35:03,1283,canceled,14,US,1283,NaN,NaN,NaN,NaN
4,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01 13:38:27,50000,2016-02-26 13:38:27,52375,successful,224,US,52375,NaN,NaN,NaN,NaN

In [4]:
# Convert 2018 csv file to pandas dataframe
df_2018.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00

In [5]:
# Count rows to see if there is any null value in any column.
print(df_2018.count())

ID                  378661
name                378657
category            378661
main_category       378661
currency            378661
deadline            378661
goal                378661
launched            378661
pledged             378661
state               378661
backers             378661
country             378661
usd pledged         374864
usd_pledged_real    378661
usd_goal_real       378661
dtype: int64

In [6]:
# Count rows to see if there is any null value in any column.
df_2016.count()

ID                323750
name              323746
category          323745
main_category     323750
currency          323750
deadline          323750
goal              323750
launched          323750
pledged           323750
state             323750
backers           323750
country           323750
usd pledged       319960
Unnamed: 13          625
Unnamed: 14           12
Unnamed: 15            4
Unnamed: 16            1
dtype: int64

In [7]:
# Compare both the file to see number of rows and columns
print(df_2016.shape)
print(df_2018.shape)

(323750, 17)
(378661, 15)

In [8]:
# Look at the type of each column
df_2018.dtypes

ID                    int64
name                 object
category             object
main_category        object
currency             object
deadline             object
goal                float64
launched             object
pledged             float64
state                object
backers               int64
country              object
usd pledged         float64
usd_pledged_real    float64
usd_goal_real       float64
dtype: object

In [9]:
# Look at the type of each column
df_2016.dtypes

ID                  int64
name               object
category           object
main_category      object
currency           object
deadline           object
goal               object
launched           object
pledged            object
state              object
backers            object
country            object
usd pledged        object
Unnamed: 13        object
Unnamed: 14        object
Unnamed: 15        object
Unnamed: 16       float64
dtype: object

**Sort Both dataframes "deadline" column and see if both are same or not**

In [10]:
# Convert "deadline column to datetime"
df_2018["deadline"] = pd.to_datetime(df_2018["deadline"])

In [11]:
# sort date in deadline column
df_2018["deadline"].sort_values().head()

138572   2009-05-03
213711   2009-05-16
342226   2009-05-16
28960    2009-05-20
196244   2009-05-22
Name: deadline, dtype: datetime64[ns]

In [12]:
# dataframe df_2016 "deadline" column was not accessible, so check the column name. 
df_2016.columns

Index(['ID ', 'name ', 'category ', 'main_category ', 'currency ', 'deadline ',
       'goal ', 'launched ', 'pledged ', 'state ', 'backers ', 'country ',
       'usd pledged ', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16'],
      dtype='object')

In [13]:
# And it is seen that "dealine" column name contains extra space at the end. so remove the space.
df_2016.columns = [s.replace(" ", "") for s in df_2016.columns]

In [14]:
df_2016.columns

Index(['ID', 'name', 'category', 'main_category', 'currency', 'deadline',
       'goal', 'launched', 'pledged', 'state', 'backers', 'country',
       'usdpledged', 'Unnamed:13', 'Unnamed:14', 'Unnamed:15', 'Unnamed:16'],
      dtype='object')

In [15]:
# Also "deadline column contains some extra text fields like "USD", "GBP" (instead of date).
df_2016["deadline"].value_counts().head()

USD                    508
GBP                     64
2012-01-01 05:59:00     47
2015-01-01 05:59:00     41
2014-11-01 04:59:00     38
Name: deadline, dtype: int64

In [16]:
d = df_2016[df_2016['deadline'] == 'USD']

In [17]:
# looks like column values have been misplaced at some point in df_2016
d

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usdpledged,Unnamed:13,Unnamed:14,Unnamed:15,Unnamed:16
1563,1009317190,French Cuisine,A Traditional Experience,Cookbooks,Food,USD,2014-09-08 00:46:23,13730,2014-08-09 03:16:02,3984,failed,46,US,3984,NaN,NaN,NaN
1794,1010871699,The Beginners Guide to being Unsuicidal,the one act,Theater,Theater,USD,2011-12-31 23:25:46,5000,2011-11-21 23:25:46,525,failed,10,US,525,NaN,NaN,NaN
1931,1011687764,Best OnLine Classifieds,Ever / No More Spam,Web,Technology,USD,2014-09-20 19:56:10,6300,2014-08-21 19:56:10,0,failed,0,US,0,NaN,NaN,NaN
2420,101453314,Social Media Ruined My Life,A Short Film from Adam S Curtis,Shorts,Film & Video,USD,2013-03-14 20:11:57,3000,2013-02-25 21:11:57,3035,successful,42,US,3035,NaN,NaN,NaN
4850,1028998661,The Easyhook Driver Bit,Cuphook Installation Made Easy,Hardware,Technology,USD,2014-09-28 02:22:52,25000,2014-07-30 02:22:52,590,failed,35,US,590,NaN,NaN,NaN
4871,102911383,AVES: Bicycle playing cards,Fine Art deck inspired by Birds,Playing Cards,Games,USD,2014-10-07 18:00:29,10000,2014-09-01 18:00:29,23924,successful,780,US,23924,NaN,NaN,NaN
5049,1030235554,Love's in Need Of Love,Now.,World Music,Music,USD,2013-03-13 00:00:00,12000,2013-02-08 23:58:25,12306,successful,122,US,12306,NaN,NaN,NaN
5813,1034539612,Batman Dead End,A Ten Year Retrospective,Film & Video,Film & Video,USD,2013-03-28 15:03:32,12500,2013-02-26 16:03:32,13675,successful,213,US,13675,NaN,NaN,NaN
7003,1041248261,KittyHawk,3 GoPro cameras 1 UAV ultimate quadcopter drone,Camera Equipment,Technology,USD,2015-08-10 10:52:33,75000,2015-07-10 10:52:33,4690,canceled,3,US,4690,NaN,NaN,NaN
7639,1044922583,Lyrical Strings Duo,A Violin and Classical Guitar Album,Classical Music,Music,USD,2012-02-04 23:14:13,2500,2012-01-05 23:14:13,4488.01,successful,126,US,4488.01,NaN,NaN,NaN
7837,1046161804,Cthulhu Gold & Silver Ingots,From the Ruins of Innsmouth,Conceptual Art,Art,USD,2014-08-20 00:31:16,20000,2014-07-21 00:31:16,687,failed,10,US,687,NaN,NaN,NaN
9998,1058376015,Finding Normalcy and Love,After War,Nonfiction,Publishing,USD,2012-03-07 02:57:35,20000,2012-02-06 02:57:35,450,failed,3,US,450,NaN,NaN,NaN
10158,1059393119,Iris Bowl: Precision Machined Aluminum,Working Aperture,Product Design,Design,USD,2016-07-22 20:45:12,10000,2016-06-21 20:45:12,16185,successful,73,US,11719,NaN,NaN,NaN
11326,10661684,The Ames Project,Silhouette Children: A Documentary Film,Documentary,Film & Video,USD,2012-07-27 00:54:04,6000,2012-06-27 00:54:04,1495,failed,19,US,1495,NaN,NaN,NaN
12061,1070559418,'Misconception',the almost completed short film.,Shorts,Film & Video,USD,2010-07-16 01:00:00,1500,2010-06-16 02:26:07,20,failed,1,US,20,NaN,NaN,NaN
12149,1071067313,LEWD,an erotic text adventure,Video Games,Games,USD,2013-06-03 01:09:51,15000,2013-05-03 01:09:51,14309.36,failed,142,US,14309.36,NaN,NaN,NaN
13968,1082145521,Stepping Toward the Lion,a documentary project,Documentary,Film & Video,USD,2013-01-01 22:59:06,8000,2012-12-02 22:59:06,8542,successful,140,US,8542,NaN,NaN,NaN
14446,108507930,Shade Tree Brewing Company,Join Our Brewery in the Shade,Food,Food,USD,2012-02-03 18:19:09,15000,2011-12-05 18:19:09,3363,failed,38,US,3363,NaN,NaN,NaN
14640,1086338488,Introducing Daniel Criss,Debut vocal album.,Country & Folk,Music,USD,2012-06-08 14:42:49,4400,2012-05-09 14:42:49,950,failed,24,US,950,NaN,NaN,NaN
15017,108863281,Portals to Another World,An Artitst's Residency,Mixed Media,Art,USD,2012-06-20 17:18:00,1700,2012-05-18 17:18:00,1800.5,successful,60,US,1800.5,NaN,NaN,NaN
15288,1090187010,The Last Stand,a 30 page one shot action comic book,Comic Books,Comics,USD,2014-12-17 14:32:18,2000,2014-11-17 14:32:18,352,failed,37,US,352,NaN,NaN,NaN
15872,1093662806,M-PAKS,the backpack that does more than just carry s...,Product Design,Design,USD,2016-12-18 00:18:44,35000,2016-11-18 00:18:44,1320,canceled,10,US,1320,NaN,NaN,NaN
15945,1094089138,Bea Arthur's bust,a mosaic re-creation using McDonalds cups,Art,Art,USD,2015-07-11 05:24:29,13,2015-06-11 05:24:29,18,successful,3,US,18,NaN,NaN,NaN
16081,1094752040,GoTo Garden: home gardeners grow it,neighbors buy it,Food,Food,USD,2012-06-30 01:21:08,10000,2012-05-31 01:21:08,2161,failed,29,US,2161,NaN,NaN,NaN
17177,1101406194,Healing Arte,One CD at a time...,Classical Music,Music,USD,2015-07-12 17:13:00,2000,2015-06-13 05:00:51,331,failed,10,US,331,NaN,NaN,NaN
17710,1104693057,Two Cities,One Rivalry,Places,Photography,USD,2015-04-16 20:04:20,50,2015-03-07 20:04:20,0,failed,0,US,0,NaN,NaN,NaN
18084,1106734072,Jamaican Style Rum Cake (4-5 lb,Serves 8-10 Persons),Events,Food,USD,2016-12-02 21:17:12,30000,2016-11-18 21:17:12,1,failed,1,US,0,NaN,NaN,NaN
18490,1109234649,The Adventures of CT,The Children's Books for Adults,Fiction,Publishing,USD,2012-12-15 15:20:14,7000,2012-11-15 15:20:14,0,failed,0,US,0,NaN,NaN,NaN
18650,1109999886,Filmmaking Gear Stolen,Help a Struggling Artist!,Film & Video,Film & Video,USD,2010-01-02 20:24:00,2500,2009-11-24 21:37:45,2630,successful,19,US,2630,NaN,NaN,NaN
20108,1118861846,Project 13,The Super-Powered Arena Tabletop Game (Canceled),Tabletop Games,Games,USD,2014-05-18 03:26:28,4000,2014-04-18 03:26:28,3711,canceled,23,US,3711,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306802,898132486,Starfall Nova Tactics,Free-2-Play Multiplayer Strategy Game,Video Games,Games,USD,2011-09-15 08:28:48,30000,2011-08-16 08:28:48,160,failed,3,US,160,NaN,NaN,NaN
307914,904800959,TAO - work out while playing games,work out anywhere!,Hardware,Technology,USD,2014-04-17 15:08:29,100000,2014-03-18 14:08:29,111307.22,successful,229,US,111307.22,NaN,NaN,NaN
308453,908306188,Nora and Lucy,Horribly Heartbroken at Hogwarts,Comics,Comics,USD,2011-01-09 00:26:52,2500,2010-10-11 00:26:52,7326.46,successful,338,US,7326.46,NaN,NaN,NaN
308942,911361739,Kni++,scarves that illuminate.,Fashion,Fashion,USD,2011-05-21 05:59:22,5000,2011-04-21 05:59:22,5661,successful,50,US,5661,NaN,NaN,NaN
310072,917983232,Shaun Murphy,Let's Talk About Love,Rock,Music,USD,2012-09-01 04:59:00,10000,2012-07-20 21:03:22,11044,successful,81,US,11044,NaN,NaN,NaN
311546,926604832,Affect: Infuse Your Drink,Inspire the Night,Food,Food,USD,2014-03-10 19:11:40,42500,2014-02-08 20:11:40,2867,failed,25,US,2867,NaN,NaN,NaN
312084,929880656,Nekter Apparel,Help us revolutionize the hoodie industry,Apparel,Fashion,USD,2016-02-20 21:08:22,10000,2016-01-21 21:08:22,0,failed,0,US,0,NaN,NaN,NaN
312154,930244233,Seated Beside The Wolf,Philosophical Fiction,Fiction,Publishing,USD,2011-09-19 13:10:23,9850,2011-07-21 13:10:23,40,failed,1,US,40,NaN,NaN,NaN
312179,930337808,The Unbroken Line,A Film In Memoriam,Narrative Film,Film & Video,USD,2013-08-18 01:00:00,1000,2013-07-17 01:53:16,1100,successful,12,US,1100,NaN,NaN,NaN
314168,942417221,Funny Time,Sleepy Time,Classical Music,Music,USD,2015-05-14 21:01:16,15000,2015-04-14 21:01:16,1520,failed,29,US,1520,NaN,NaN,NaN
314229,942697158,Grandpa Rock & Roll Fred Lee,with The Bangor Boys play home,Rock,Music,USD,2013-05-10 20:45:55,500000,2013-04-10 20:45:55,0,failed,0,US,0,NaN,NaN,NaN
314689,94521031,Let It Fly,A fictional short film about Intolerance,Shorts,Film & Video,USD,2011-01-14 02:35:17,10000,2010-12-15 02:35:17,50,failed,1,US,50,NaN,NaN,NaN
314790,94573368,Child of Time,a novel,Fiction,Publishing,USD,2015-01-17 16:01:40,5000,2014-12-18 16:01:40,0,failed,0,US,0,NaN,NaN,NaN
314929,946554330,A Mental Health Initiative - Trauma,Release Healing Purpose,Nonfiction,Publishing,USD,2016-01-05 17:01:00,10000,2015-12-11 18:15:58,0,failed,0,US,0,NaN,NaN,NaN
315045,947343342,Korea's changes over 60 years,a photo journey through time.,Photography,Photography,USD,2012-06-07 19:19:27,38000,2012-05-08 19:19:27,135,failed,3,US,135,NaN,NaN,NaN
315259,948525980,Oceanus -,A game like no other.,Video Games,Games,USD,2014-02-23 04:55:18,40000,2014-01-24 04:55:18,20,failed,8,US,20,NaN,NaN,NaN
315385,949216748,Kerrin's first album,'Take Me Away' ... Become a part of Team Kerrin!,Music,Music,USD,2010-05-12 22:15:00,2000,2010-04-13 00:10:26,2026,successful,40,US,2026,NaN,NaN,NaN
315977,952768436,THIS HAS BEEN MY DREAM FOR LIFE,HELP ME ACCOMPLISH IT!!,Hip-Hop,Music,USD,2015-11-15 04:12:22,750,2015-10-16 04:12:22,0,canceled,0,US,0,NaN,NaN,NaN
316094,953402698,A Hot Piece of Glass,Glassblowing Project!! (Canceled),Sculpture,Art,USD,2014-01-02 22:20:00,5000,2013-11-20 01:50:01,290,canceled,3,US,290,NaN,NaN,NaN
316564,956497576,ECLIPSE 2-seat orbital spacecraft,first step: simulator,Space Exploration,Technology,USD,2014-11-27 21:31:54,13000,2014-10-29 20:31:54,1577,failed,24,US,1577,NaN,NaN,NaN
316702,957338579,,Help save the honeybees: Provide funding to ad...,Food,Food,USD,2012-01-08 05:14:50,1875,2011-11-09 05:14:50,545,failed,13,US,545,NaN,NaN,NaN
317015,959304168,SKETCH,The Artistry Of Taryn Lee Libby,Mixed Media,Art,USD,2015-03-07 23:19:26,1000,2015-01-06 23:19:26,2356,successful,57,US,2356,NaN,NaN,NaN
319355,97337924,Norah Rendell: Traditional Songs from Canada,a solo album,Country & Folk,Music,USD,2014-12-04 16:16:40,8500,2014-10-30 15:16:40,11050,successful,176,US,11050,NaN,NaN,NaN
319816,976306688,Building poverty stricken communities,BRICK by BRICK!,Fashion,Fashion,USD,2014-12-12 19:08:17,3210,2014-11-12 19:08:17,0,failed,0,US,0,NaN,NaN,NaN
320631,981100791,A Vodcast on Green Tech and Society,The Trip for Life,Journalism,Journalism,USD,2011-03-02 15:07:22,3000,2011-01-31 15:07:22,160,failed,3,US,160,NaN,NaN,NaN
321033,983555190,Successful inner-city band program,defying the odds,Kids,Music,USD,2014-10-03 22:26:04,170000,2014-08-29 22:26:04,7281.1,failed,91,US,7281.1,NaN,NaN,NaN
321945,989007729,THROUGH MY EYES,MY LIFE IN THE MISSISSIPPI DELTA,Narrative Film,Film & Video,USD,2012-04-05 02:34:49,3500,2012-03-06 02:34:49,10,failed,1,US,10,NaN,NaN,NaN
322162,990511774,Daniel Hresko's new CD is (almost) ready,so get on board!,Indie Rock,Music,USD,2011-09-06 05:59:00,400,2011-08-06 15:36:39,61,failed,4,US,61,NaN,NaN,NaN
322204,990746749,Feet on the Ground,Head in the Clouds,Film & Video,Film & Video,USD,2013-04-17 16:00:31,35000,2013-03-18 15:00:31,179,failed,10,US,179,NaN,NaN,NaN
323495,99851211,Art/sustainability/spirituality,a bike quest in New Zealand,Photography,Photography,USD,2013-03-05 21:00:00,2500,2013-02-05 08:09:32,2634,successful,34,US,2634,NaN,NaN,NaN

In [18]:
# remove unneccessary rows which contains text like 'USD', 'GBP' in deadline
clean_df_2016 = df_2016[(df_2016['deadline'] != 'USD') & (df_2016['deadline'] != 'GBP') & (df_2016['deadline'] != 'SEK')]
# df_2016.drop(df_2016.loc[df_2016['deadline']==0].index, inplace=True)

In [19]:
clean_df_2016["deadline"].value_counts()

2012-01-01 05:59:00    47
2015-01-01 05:59:00    41
2014-11-01 04:59:00    38
2012-03-01 05:59:00    33
2016-01-01 05:59:00    31
2012-02-01 05:59:00    30
2010-09-01 05:59:00    30
2014-09-01 05:59:00    30
2016-04-01 05:59:00    29
2012-11-01 04:59:00    29
2015-03-01 05:59:00    29
2010-08-01 05:59:00    29
2012-06-01 05:59:00    29
2015-04-01 05:59:00    28
2013-01-01 05:59:00    27
2012-04-01 05:59:00    26
2011-01-01 05:59:00    26
2013-02-01 05:59:00    26
2015-11-01 04:59:00    25
2015-05-01 05:59:00    25
2013-03-01 05:59:00    24
2015-07-01 05:59:00    24
2014-12-01 05:59:00    24
2014-01-01 05:59:00    24
2016-11-01 04:59:00    24
2012-09-01 05:59:00    23
2014-10-01 05:59:00    23
2015-01-01 08:59:00    23
2012-12-01 05:59:00    22
2011-08-01 05:59:00    22
                       ..
2011-09-02 08:16:37     1
2011-07-02 23:26:40     1
2016-04-14 19:35:50     1
2015-12-06 18:38:41     1
2016-05-14 19:23:14     1
2016-04-13 15:00:00     1
2012-11-20 21:30:00     1
2012-06-03 00:59:26     1
2013-06-06 18:33:41     1
2014-08-10 22:57:34     1
2013-03-20 22:17:25     1
2014-10-10 22:00:00     1
2015-06-01 05:00:00     1
2014-08-22 17:51:05     1
2015-04-09 19:30:28     1
2014-11-01 19:29:48     1
2014-09-26 16:59:28     1
2014-05-10 04:45:00     1
2015-06-09 20:58:35     1
2016-06-02 17:15:43     1
2013-07-05 00:10:19     1
2012-02-06 06:54:56     1
2016-06-18 03:15:00     1
2015-09-07 20:16:47     1
2011-12-21 22:48:00     1
2014-08-02 12:50:42     1
2014-06-13 15:09:03     1
2016-04-01 17:49:09     1
2015-05-04 01:03:31     1
2014-09-01 00:01:44     1
Name: deadline, Length: 294810, dtype: int64

In [20]:
# clean_df_2016.apply(lambda x: pd.to_numeric(x, errors='coerce')).dropna()
# clean_df_2016[clean_df_2016["deadline"]] = clean_df_2016[clean_df_2016["deadline"]].apply(pd.to_datetime, errors='coerce').dropna()

In [21]:
df_2016['deadline'].sort_values().head()

269970               Esoteric
118552    2009-05-03 08:59:59
292628    2009-05-16 01:10:00
182855    2009-05-16 11:59:00
24856     2009-05-20 21:50:00
Name: deadline, dtype: object

#### Differences between 2016 and 2018 csv file (should we consider both or one. if one then which one):
- the 2018 file is an extension of the 2016 file
    - 2018 file has about 55,000 more entries
- 2016 file has an extra two columns, but these are mostly null values so we would drop these columns anyway

Final conclusion is that we should just use the 2018 dataset for the analysis of Kickstarter Projects, just because it is essentially a more substantial dataset

## Data Cleaning

In [22]:
df_2018.isnull().sum()

ID                     0
name                   4
category               0
main_category          0
currency               0
deadline               0
goal                   0
launched               0
pledged                0
state                  0
backers                0
country                0
usd pledged         3797
usd_pledged_real       0
usd_goal_real          0
dtype: int64

In [23]:
df_2018["category"].value_counts()

Product Design       22314
Documentary          16139
Music                15727
Tabletop Games       14180
Shorts               12357
Video Games          11830
Food                 11493
Film & Video         10108
Fiction               9169
Fashion               8554
Nonfiction            8318
Art                   8253
Apparel               7166
Theater               7057
Technology            6930
Rock                  6758
Children's Books      6756
Apps                  6345
Publishing            6018
Webseries             5762
Photography           5752
Indie Rock            5657
Narrative Film        5188
Web                   5153
Comics                4996
Crafts                4664
Country & Folk        4451
Design                4199
Hip-Hop               3912
Hardware              3663
                     ...
Couture                275
Blues                  268
Animals                255
Fabrication Tools      250
Printing               238
Makerspaces            238
Movie Theaters         232
Puzzles                231
Bacon                  221
Stationery             219
Photo                  196
Video Art              194
Romance                190
Knitting               181
Workshops              164
Crochet                162
Translations           153
Pet Fashion            139
Glass                  138
Latin                  137
Embroidery             113
Typography             108
Pottery                100
Weaving                 93
Quilts                  81
Residencies             69
Letterpress             49
Chiptune                35
Literary Spaces         27
Taxidermy               13
Name: category, Length: 159, dtype: int64

In [24]:
df_2018["main_category"].value_counts()

Film & Video    63585
Music           51918
Publishing      39874
Games           35231
Technology      32569
Design          30070
Art             28153
Food            24602
Fashion         22816
Theater         10913
Comics          10819
Photography     10779
Crafts           8809
Journalism       4755
Dance            3768
Name: main_category, dtype: int64

In [25]:
print(len(df_2018.category.unique()))
print(len(df_2018.main_category.unique()))

159
15

***Main_category will be helpful to keep dimentionality low after one hot encoding***

In [26]:
print(len(df_2018.ID.unique()))
print(df_2018.count())

378661
ID                  378661
name                378657
category            378661
main_category       378661
currency            378661
deadline            378661
goal                378661
launched            378661
pledged             378661
state               378661
backers             378661
country             378661
usd pledged         374864
usd_pledged_real    378661
usd_goal_real       378661
dtype: int64

In [27]:
# df_2018.shape
# df_2018.shape[0]
# df_2018.shape[1]
df_2018.shape[0]==len(df_2018.ID.unique())

True

***ID is unique but doesn't contain any info***

After looking at all the features we can drop following columns:

* 'goal' as it is in local currency, and it would be easier to work with usd_goal_real
* 'currency' as we are dropping 'goal' and will just use the information that is already converted to USD
* 'usd pledged' as it has lots of missing values, it is kickstarter information given about pledge amount in USD but this is already included in usd_pledged_real
* 'pledged' is funding raised in local currency
* 'category' as main_category retains a lot of information, and will still increase our number of features quite significantly when one hot encoded. If we were to try to one hot encode category the dimensionality of our data would be very high.
* 'ID' as all of the ID fields are unique, and it will not give us any information about project success.

In [28]:
#convert "launched" column to common datetime format
df_2018.launched = pd.to_datetime(df_2018.launched)

In [29]:
df_2018.country.value_counts()

US      292627
GB       33672
CA       14756
AU        7839
DE        4171
N,0"      3797
FR        2939
IT        2878
NL        2868
ES        2276
SE        1757
MX        1752
NZ        1447
DK        1113
IE         811
CH         761
NO         708
HK         618
BE         617
AT         597
SG         555
LU          62
JP          40
Name: country, dtype: int64

In [30]:
#N,0" engineering to 'NO'
# Assuming that it is mistake and replacing "N,0" to "NO"
df_2018.country = df_2018.country.replace(to_replace='N,0"', value='NO')

It is good to engineer a success variable from the information that is already in the dataset. Project receiving pleadged as much as their goal or greater than their goal then considering those as successful projects. This is also how Kickstarter defines success.

In [31]:
#engineer a 'success' variable
df_2018['success'] = (df_2018.usd_goal_real <= df_2018.usd_pledged_real)*1

In [32]:
df_2018

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real,success
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.00,failed,0,GB,0.00,0.00,1533.95,0
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.00,failed,15,US,100.00,2421.00,30000.00,0
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.00,failed,3,US,220.00,220.00,45000.00,0
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.00,failed,1,US,1.00,1.00,5000.00,0
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.00,canceled,14,US,1283.00,1283.00,19500.00,0
5,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01,50000.0,2016-02-26 13:38:27,52375.00,successful,224,US,52375.00,52375.00,50000.00,1
6,1000023410,Support Solar Roasted Coffee & Green Energy! ...,Food,Food,USD,2014-12-21,1000.0,2014-12-01 18:30:44,1205.00,successful,16,US,1205.00,1205.00,1000.00,1
7,1000030581,Chaser Strips. Our Strips make Shots their B*tch!,Drinks,Food,USD,2016-03-17,25000.0,2016-02-01 20:05:12,453.00,failed,40,US,453.00,453.00,25000.00,0
8,1000034518,SPIN - Premium Retractable In-Ear Headphones w...,Product Design,Design,USD,2014-05-29,125000.0,2014-04-24 18:14:43,8233.00,canceled,58,US,8233.00,8233.00,125000.00,0
9,100004195,STUDIO IN THE SKY - A Documentary Feature Film...,Documentary,Film & Video,USD,2014-08-10,65000.0,2014-07-11 21:55:48,6240.57,canceled,43,US,6240.57,6240.57,65000.00,0
10,100004721,Of Jesus and Madmen,Nonfiction,Publishing,CAD,2013-10-09,2500.0,2013-09-09 18:19:37,0.00,failed,0,CA,0.00,0.00,2406.39,0
11,100005484,Lisa Lim New CD!,Indie Rock,Music,USD,2013-04-08,12500.0,2013-03-09 06:42:58,12700.00,successful,100,US,12700.00,12700.00,12500.00,1
12,1000055792,The Cottage Market,Crafts,Crafts,USD,2014-10-02,5000.0,2014-09-02 17:11:50,0.00,failed,0,US,0.00,0.00,5000.00,0
13,1000056157,G-Spot Place for Gamers to connect with eachot...,Games,Games,USD,2016-03-25,200000.0,2016-02-09 23:01:12,0.00,failed,0,US,0.00,0.00,200000.00,0
14,1000057089,Tombstone: Old West tabletop game and miniatur...,Tabletop Games,Games,GBP,2017-05-03,5000.0,2017-04-05 19:44:18,94175.00,successful,761,GB,57763.78,121857.33,6469.73,1
15,1000064368,Survival Rings,Design,Design,USD,2015-02-28,2500.0,2015-01-29 02:10:53,664.00,failed,11,US,664.00,664.00,2500.00,0
16,1000064918,The Beard,Comic Books,Comics,USD,2014-11-08,1500.0,2014-10-09 22:27:52,395.00,failed,16,US,395.00,395.00,1500.00,0
17,1000068480,Notes From London: Above & Below,Art Books,Publishing,USD,2015-05-10,3000.0,2015-04-10 21:20:54,789.00,failed,20,US,789.00,789.00,3000.00,0
18,1000070642,Mike Corey's Darkness & Light Album,Music,Music,USD,2012-08-17,250.0,2012-08-02 14:11:32,250.00,successful,7,US,250.00,250.00,250.00,1
19,1000071625,Boco Tea,Food,Food,USD,2012-06-02,5000.0,2012-05-03 17:24:32,1781.00,failed,40,US,1781.00,1781.00,5000.00,0
20,1000072011,CMUK. Shoes: Take on Life Feet First.,Fashion,Fashion,USD,2013-12-30,20000.0,2013-11-25 07:06:11,34268.00,successful,624,US,34268.00,34268.00,20000.00,1
21,1000081649,MikeyJ clothing brand fundraiser,Childrenswear,Fashion,AUD,2017-09-07,2500.0,2017-08-08 01:20:20,1.00,failed,1,AU,0.00,0.81,2026.10,0
22,1000082254,Alice in Wonderland in G Minor,Theater,Theater,USD,2014-06-15,3500.0,2014-05-16 10:10:38,650.00,failed,12,US,650.00,650.00,3500.00,0
23,1000087442,Mountain brew: A quest for alcohol sustainability,Drinks,Food,NOK,2015-02-25,500.0,2015-01-26 19:17:33,48.00,failed,3,NO,6.18,6.29,65.55,0
24,1000091520,The Book Zoo - A Mini-Comic,Comics,Comics,USD,2014-11-12,175.0,2014-10-23 17:15:50,701.66,successful,66,US,701.66,701.66,175.00,1
25,1000102741,Matt Cavenaugh & Jenny Powers make their 1st a...,Music,Music,USD,2011-01-06,10000.0,2010-12-07 23:16:50,15827.00,successful,147,US,15827.00,15827.00,10000.00,1
26,1000103948,Superhero Teddy Bear,DIY,Crafts,GBP,2016-01-05,12000.0,2015-12-06 20:09:06,0.00,failed,0,GB,0.00,0.00,17489.65,0
27,1000104688,Permaculture Skills,Webseries,Film & Video,CAD,2014-12-14,17757.0,2014-11-14 18:02:00,48905.00,successful,571,CA,43203.25,42174.03,15313.04,1
28,1000104953,Rebel Army Origins: The Heroic Story Of Major ...,Comics,Comics,GBP,2016-01-28,100.0,2015-12-29 16:59:29,112.38,successful,27,GB,167.70,160.60,142.91,1
29,100011318,My Moon - Animated Short Film,Animation,Film & Video,USD,2017-05-03,50000.0,2017-04-03 17:11:33,57577.31,successful,840,US,10120.00,57577.31,50000.00,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378631,999832803,MONSTROCARDS- A Creative Drawing Game of Horri...,Playing Cards,Games,USD,2014-10-03,10000.0,2014-09-03 19:53:50,13861.50,successful,413,US,13861.50,13861.50,10000.00,1
378632,99984851,"""Loreto""",Comedy,Film & Video,USD,2014-06-05,12000.0,2014-05-06 23:50:34,0.00,failed,0,US,0.00,0.00,12000.00,0
378633,999865831,STATE OF G - Men's Blazer Jacket & Women's Car...,Apparel,Fashion,USD,2014-12-13,25000.0,2014-11-13 17:16:17,11643.00,failed,97,US,11643.00,11643.00,25000.00,0
378634,999867839,Transcaucasia,Photography,Photography,USD,2011-01-08,4000.0,2010-11-08 02:43:59,3531.00,failed,37,US,3531.00,3531.00,4000.00,0
378635,99987261,"You're Not Cis, You Just Think You Are: My Enb...",Nonfiction,Publishing,USD,2015-09-24,800.0,2015-08-25 22:37:14,70.00,failed,5,US,70.00,70.00,800.00,0
378636,999877902,Little Saturday's Debut Album,Country & Folk,Music,CAD,2014-12-17,5000.0,2014-11-17 17:50:12,5435.00,successful,78,CA,4814.88,4686.96,4311.83,1
378637,999878813,Ways to Look at the Moon,Shorts,Film & Video,USD,2017-10-13,10000.0,2017-08-29 06:57:28,10245.00,successful,123,US,145.00,10245.00,10000.00,1
378638,999880710,Terminal Uniqueness,Nonfiction,Publishing,USD,2014-08-15,5000.0,2014-07-15 02:10:39,18.00,failed,5,US,18.00,18.00,5000.00,0
378639,999884445,Superette Tea - Boldly Caffeinated Loose Leaf Tea,Drinks,Food,USD,2015-12-03,5000.0,2015-11-03 13:04:14,5579.00,successful,103,US,5579.00,5579.00,5000.00,1
378640,999893629,Ciridian Helix (Canceled),Fiction,Publishing,USD,2014-09-11,1000.0,2014-08-08 21:49:31,100.00,canceled,2,US,100.00,100.00,1000.00,0
378641,99991751,Here is the oasis for the youngest in the world.,Product Design,Design,CHF,2015-09-04,80000.0,2015-07-06 18:00:47,0.00,failed,0,CH,0.00,0.00,82207.27,0
378642,999929142,POUVANTAILS : 28mm Figurines de jeux pour KI...,Tabletop Games,Games,EUR,2017-10-31,1000.0,2017-10-04 11:26:44,1246.00,successful,35,FR,66.72,1452.47,1165.70,1
378643,999931480,Google Glass Shield (Canceled),3D Printing,Technology,USD,2014-05-26,6500.0,2014-05-05 20:22:45,0.00,canceled,0,US,0.00,0.00,6500.00,0
378644,999934908,The Manual Bar Blade,Product Design,Design,USD,2015-12-15,3500.0,2015-11-23 07:33:14,6169.00,successful,120,US,6169.00,6169.00,3500.00,1
378645,999941823,The Chronicles of Erinoth - A Graphic Novel,Comics,Comics,GBP,2013-10-10,16000.0,2013-09-10 22:45:26,2738.00,failed,38,GB,4281.15,4374.99,25566.05,0
378646,999943841,The Dog Coffee Book,Children's Books,Publishing,USD,2013-11-30,950.0,2013-10-18 21:35:04,1732.02,successful,31,US,1732.02,1732.02,950.00,1
378647,999950812,The Cease is Increase,Nonfiction,Publishing,USD,2012-09-14,4999.0,2012-08-15 17:11:00,980.00,failed,16,US,980.00,980.00,4999.00,0
378648,999955533,Cards and Chit Network Season 2! (Canceled),Tabletop Games,Games,USD,2016-02-23,500.0,2016-01-24 16:03:27,121.00,canceled,5,US,121.00,121.00,500.00,0
378649,999963618,Colorado International Activism Film Festival,Narrative Film,Film & Video,USD,2017-04-09,500.0,2017-02-08 02:28:44,135.00,failed,6,US,45.00,135.00,500.00,0
378650,99996661,Date Seat - Boston iOS App,Apps,Technology,USD,2016-09-05,6000.0,2016-07-29 15:36:29,0.00,failed,0,US,0.00,0.00,6000.00,0
378651,999969812,AT THE BEACH,Classical Music,Music,CAD,2014-03-22,5000.0,2014-02-20 01:00:16,5501.00,successful,78,CA,5019.92,4983.69,4529.81,1
378652,999971898,Beach Wrestling Documentary,Documentary,Film & Video,NOK,2015-04-28,20000.0,2015-03-29 21:30:33,21500.00,successful,36,NO,2698.97,2875.83,2675.19,1
378653,999972264,Islanda,Documentary,Film & Video,USD,2012-03-16,1700.0,2012-02-15 04:31:10,25.00,failed,1,US,25.00,25.00,1700.00,0
378654,999975836,"Homemade fresh dog food, Cleveland OH",Small Batch,Food,USD,2017-04-19,6500.0,2017-03-20 22:08:22,154.00,failed,4,US,0.00,154.00,6500.00,0
378655,999976312,Angela's Poetry (Canceled),Poetry,Publishing,CAD,2014-09-20,5500.0,2014-08-06 03:46:07,0.00,canceled,0,CA,0.00,0.00,4949.60,0
378656,999976400,ChknTruk Nationwide Charity Drive 2014 (Canceled),Documentary,Film & Video,USD,2014-10-17,50000.0,2014-09-17 02:35:30,25.00,canceled,1,US,25.00,25.00,50000.00,0
378657,999977640,The Tribe,Narrative Film,Film & Video,USD,2011-07-19,1500.0,2011-06-22 03:35:14,155.00,failed,5,US,155.00,155.00,1500.00,0
378658,999986353,Walls of Remedy- New lesbian Romantic Comedy f...,Narrative Film,Film & Video,USD,2010-08-16,15000.0,2010-07-01 19:40:30,20.00,failed,1,US,20.00,20.00,15000.00,0
378659,999987933,BioDefense Education Kit,Technology,Technology,USD,2016-02-13,15000.0,2016-01-13 18:13:53,200.00,failed,6,US,200.00,200.00,15000.00,0
378660,999988282,Nou Renmen Ayiti! We Love Haiti!,Performance Art,Art,USD,2011-08-16,2000.0,2011-07-19 09:07:47,524.00,failed,17,US,524.00,524.00,2000.00,0

In [33]:
df_2018.success.describe()

count    378661.000000
mean          0.361912
std           0.480554
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: success, dtype: float64

It is good to engineer a duration feature to see if the timeline of a project influences the chances at success. The dataset contains information about the date and time a project was launched, and what the fundraising deadline was. From this it is straightforward to calculate how many hours the fundraising was supposed to last.

In [34]:
#engineer duration variable
df_2018['duration'] = (df_2018.deadline - df_2018.launched).astype('timedelta64[h]')

In [35]:
df_2018.head(2)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real,success,duration
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95,0,1403.0
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00,0,1435.0

Let's represent categorial variables to binary. This can be done via one hot encode pandas get_dummies method.
* Here main_category and Country are getting converted to binary state. For example if project is of Art category then that column will have "1" value and all others will have "0". Same for country, if project is originated in "US" the "US" column will have one value and other columns will have 0 value for that project.
* This will make it easier for any models we deal by quantifying non-numerical values.

In [36]:
#one hot encode categorical variables, dropping unneeded variables
encoded_df_2018 = pd.get_dummies(df_2018.drop(labels=['name', 'launched', 'deadline', 'state',
                                            'category', 'currency', 'usd pledged', 'pledged',
                                            'ID', 'goal'], axis=1), 
                            columns=['main_category', 'country'])

The average amount contributed to a project can give us some insight about whether we want to encourage many small contributions or a few larger ones.

In [37]:
#add a variable that shows average pledge for each project
encoded_df_2018['average_backing'] = (encoded_df_2018['usd_pledged_real']/(encoded_df_2018['backers']+1))

In [38]:
encoded_df_2018.head(2)

,backers,usd_pledged_real,usd_goal_real,success,duration,main_category_Art,main_category_Comics,main_category_Crafts,main_category_Dance,main_category_Design,...,country_JP,country_LU,country_MX,country_NL,country_NO,country_NZ,country_SE,country_SG,country_US,average_backing
0,0,0.0,1533.95,0,1403.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0000
1,15,2421.0,30000.00,0,1435.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,151.3125